[submodule "Recursos/Sistema-Formal-a-b-M-MMI"]
	path = Recursos/Sistema-Formal-a-b-M-MMI
	url = https://github.com/JuanGuayazanC/Sistema-Formal-a-b-M-MMI.git
	branch = main
[submodule "Recursos/Sistema-Formal-I-M-MMI"]
	path = Recursos/Sistema-Formal-I-M-MMI
	url = https://github.com/JuanGuayazanC/Sistema-Formal-I-M-MMI.git
	branch = main
[submodule "Recursos/Sistema-Formal-IMIII-MMI"]
	path = Recursos/Sistema-Formal-IMIII-MMI
	url = https://github.com/JuanGuayazanC/Sistema-Formal-IMIII-MMI.git
	branch = main
[submodule "Recursos/Sistema-Formal-Sapos-y-Ranas-MMI"]
	path = Recursos/Sistema-Formal-Sapos-y-Ranas-MMI
	url = https://github.com/JuanGuayazanC/Sistema-Formal-Sapos-y-Ranas-MMI.git
	branch = main
[submodule "Talleres/Suma-Recursiva-Haskell-MMI"]
	path = Talleres/Suma-Recursiva-Haskell-MMI
	url = https://github.com/JuanGuayazanC/Suma-Recursiva-Haskell-MMI.git
	branch = main
[submodule "Talleres/Manipulacion-de-Digitos-en-Haskell-MMI"]
	path = Talleres/Manipulacion-de-Digitos-en-Haskell-MMI
	url = https://github.com/JuanGuayazanC/Manipulacion-de-Digitos-en-Haskell-MMI.git
	branch = main
